<h1 class="jumbotron text-center mt-5" ng-init="getBooks()">Books</h1>
<div class="container">
    <div class="card-deck">
        <div class="container-fluid content-row px-1">
            <div ng-repeat="book in books">
                <div class="card my-4 mx-0">
                    <div class="row">
                        <div class="col pr-0">
                            <h3 class="card-header">{{book.title}}</h3>
                            <p class="card-text mx-3 mt-4">{{book.description}}</p>
                            <a href="#!/books/details/{{book._id}}" class="btn btn-primary mx-3 my-2">View Details</a>
                        </div>
                        <div class="col-auto pl-0">
                            <img class="img-thumbnail" ng-src="{{book.image_url}}" alt="{{book.title}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>